*{
    margin:0%
}
body{
    padding: 0px;
    margin: 0%;
    background-color: #000000;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 100px;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
}
button{
    width: 200px;
    height: 75px;
    color: #9867c5;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: brown;
    background-color: #fce205;
    border-radius: 31px;
    box-shadow: 0px 0px 10px 9px #00000050;
    border: solid 2px #9867c5;
}
.infomation{
    display: flex;
    max-width: 85%;
    margin:0 auto;
    justify-content: center;
}
.logo{
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.frontpix{
    max-width: 95%;
    max-height: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 31px;
    border: solid 10px #9867c5;
}
p{
    color: white;
    text-align: center;
}
/* Start Navigation Bar */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
}
nav a:hover,
nav a:focus {
    color: #fd5f00;
}
.main-nav {
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    color:white;
    background: #b25aa5;
}
.logo-2 {
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 0 2rem;
    color: #4f3aa2;
    font-size:25px;
    font-family: "Caveat", cursive;
    border-radius: 31px;
    font-weight: bold;
    border: solid 2px;
    background-color:black;

}
.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
    font-family: "Caveat", cursive;
    font-size: 20px;
}
.burger {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
}
.line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: #daf8e3;
    transition: transform 0.75s ease, opacity 0.75s ease;
}
  
  @media screen and (max-width: 800px) {
    .nav-links {
      width: 60%;
    }
}
/*Search Bar*/
.searchb{
    border: 3px solid #9867c5;
    background-color: white;
    color: rgba(156, 18, 18, 0.89);
    font-size:18px;
    font-family:cursive;
}
/*hanbuger nav bar */
.main-nav.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2 {
    opacity: 0;
}
.main-nav.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
}
.main-nav.show .nav-links {
    transform: translateX(0%);
}
  @media screen and (max-width: 800px) {
    .nav-links {
      width: 60%;
    }
}
  @media screen and (max-width: 600px) {
    .burger {
      display: block;
    }
    .nav-links {
      position: fixed;
      top: 8vh;
      right: 0;
      height: 92vh;
      width: 50%;
      flex-direction: column;
      align-items: center;
      justify-content:space-evenly;
      background: #EF2751;
      transform: translateX(100%);
      transition: transform 1s ease;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
      border: solid 5px #b25aa5;
    }
}

/*Start Of About US PAGE*/
.dee{
    width: 18%;
    padding: 10px;
    float: left;
    border-radius: 31px;
}
.aboutd2{
    clear: left;
    text-align:left;
}
.left_about{
    border: solid 2px yellow;
    float: left;
    display: left;
    width: 49%;
    left: 150px;

}
.right_about .righ_abouta{
    border: solid 2px #dbcf50;
    float: right;
    width: 49%;
    justify-content: center;
    display: flex;
    background-color: #dbcf50;
}
.right_about a:hover{
    color:#EF2751;
}
.niche1{
    width: 63%;
    padding: 10px;
    border-radius: 31px;
    text-decoration: none;
    
}
/* End of About US Page*/
